<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493521214399-hjmg01bqt4e1o6o2dmi3h213fsjvqglg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493521214399-hjmg01bqt4e1o6o2dmi3h213fsjvqglg</string>
	<key>API_KEY</key>
	<string>AIzaSyBnhgBHMVOnhz-gery5fU6oUFqguVyzv0E</string>
	<key>GCM_SENDER_ID</key>
	<string>493521214399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baqdauled.taxizakaz</string>
	<key>PROJECT_ID</key>
	<string>taxizakaz-d4d41</string>
	<key>STORAGE_BUCKET</key>
	<string>taxizakaz-d4d41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493521214399:ios:cbacb233212194739bdf0a</string>
</dict>
</plist>